<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer Group Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
    <!--error flashing-->
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
            <button type="button" class="btn btn-danger" class="close" data-bs-dismiss="alert"> 
            &times; 
            </button>
            <p class="text-danger"> {{ message }} </p>
        </div>
        {% endfor %}
    </div>
    <!--This will display the prexisting data of the group but can be changed-->
    <form action="/admin/smallgroups/add" method=post>
        {# add CSRF countermeasure #}
        {{ form.hidden_tag() }}
        {# add name and members #}
        {{ form.category.label }}
        {{ form.category() }}
        {{ form.reference.label }}
        {{ form.reference() }}
        {{ form.text.label }}
        {{ form.text() }}
        {# add submit button #}
        {{ form.submit() }}
    </form>
    <a href="/admin/guidedprayers">Cancel</a>
</body>
</html>