<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer List</title>
</head>
<body>
    <a href="/admin">Home</a>
    <a href="/admin/prayerlist">Prayer Requests</a>
    <a href="/admin/guidedprayers">Guided Prayers</a>
    <a href="/admin/smallgroups">Small Groups</a>
    <a href="/admin/adminlist">Administrators</a>
    <a href="/admin/memberlist">Members</a>
    <!--display groups-->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>NumMembers</th>
                <th>Members</th>
                <th>Last Active</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{request['Name']}}</td>
                    <td>{{request['NumMembers']}}</td>
                    <td>{{request['Members']}}</td>
                    <td>{{request['Last Active']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>