<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin">Home</a>
    <a href="/admin/prayerlist">Prayer Requests</a>
    <a href="/admin/guidedprayers">Guided Prayers</a>
    <a href="/admin/smallgroups">Small Groups</a>
    <a href="/admin/adminlist">Administrators</a>
    <a href="/admin/memberlist">Members</a>
    <!--display guided prayers-->
    <a href="/admin/guidedprayers/add">Add Prayer</a> 
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Reference</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{request['Category']}}</td>
                    <td>{{request['Reference']}}</td>
                    <td>{{request['Text']}}</td>
                    <a href="/admin/guidedprayers/edit">Edit</a> 
                    <!--need way to get information for this prayer into the edit page-->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>